@use "../../../scss/mixins/" as *;

.about {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 20px;
  overflow: hidden;
  margin-top: 3rem;

  header {
    grid-column: span 2;
  }

  @include break-max(900px) {
    gap: 20px;

    div {
      grid-column: span 2;
    }
  }
}