@mixin break-max($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin break-min($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin rounded-item($size, $is_center: true) {
  width: $size;
  height: $size;
  border-radius: 50%;
  @if ($is_center == true) {
    display: grid;
    place-items: center;
  }
  font-size: 1.2rem;
  @content;
}

@mixin cross-code($code, $value) {
  -webkit-#{$code}: $value;
  -moz-#{$code}: $value;
  $code: $value;
}