@use '../../scss/mixins/' as *;

$circle_position: -24px;

.experince_container {
  position: relative;
  display: grid;
  place-items: center;

  .line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 3px;
    background-color: #fff;
  }

  .experience_row {
    margin: 1rem 0;

    &.right {
      justify-content: end;

      .experience_item::before {
        left: $circle_position;
      }
    }

    .experience_item {
      width: 50%;
      max-width: 700px;
      background-color: rgb(44, 44, 44);
      flex-shrink: 1;
      border-radius: 8px;
      padding: .8rem 1.2rem;
      margin: 0 -1rem;
      position: relative;

      &::before {
        @include rounded-item(15px) {
          content: '';
          position: absolute;
          top: 50%;
          right: $circle_position;
          transform: translateY(-50%);
          background-color: #fff;
        }
      }
    }
  }
}