@use '../../scss/mixins/' as *;
@use '../../scss/variables/' as *;

$circle_position: -31px;

.experince_container {
  position: relative;
  display: grid;
  place-items: center;

  .line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: top;
  }

  .experience_row {
    margin: 1rem 0;

    &.right {
      justify-content: end;

      svg {
        left: $circle_position;
      }
    }

    .experience_item {
      width: 50%;
      max-width: 800px;
      background-color: rgb(44, 44, 44);
      flex-shrink: 1;
      border-radius: 6px;
      padding: .8rem 1.2rem;
      margin: 0 -1rem;
      position: relative;

      svg {
        position: absolute;
        top: 50%;
        right: $circle_position;
        transform: translateY(-50%);
        
        circle {
          stroke: #fff;
          stroke-width: 2;
          fill: $body_background_color;
          stroke-dasharray: 1000;
          stroke-dashoffset: 0;
        }
      }
    }
  }

  // --- Responsive ---
  @include break-max(768px) {
    .experience_row {
      &.right svg {
        left: -28px;
      }
    }
  }
}