@use "../../../scss/mixins/" as *;
@use "../../../scss/variables/" as *;
@use "../../../scss/components/" as *;

.banner :global {
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: calc(100vh - $navbar-height);

  .left {
    align-self: center;
    padding: 0 2rem;

    header {
      margin-bottom: 1rem;

      h1 {
        font-size: 2.2rem;
      }
    }
  }

  .right {
    overflow: hidden;
  }

  button {
    @include button() {
      margin-top: 1rem;
    }
  }

  @include break-max(900px) {
    row-gap: 60px;

    .item {
      grid-column: span 2;
    }
  }

  @include break-max(500px) {
    row-gap: 15px;

    .right {
      height: 300px;
    }
  }
}