@use "../../scss/variables/" as *;
@use "../../scss/mixins/" as *;

.navbar :global {
  justify-content: space-between;
  padding: 2rem 2.5rem;
  height: $navbar-height;

  .title {
    font-size: 1.5rem;
  }

  ul {
    gap: 20px;

    &.contact {
      a {
        transition: all .2s;
        @include rounded-item(40) {
          border: 1px solid $brown-color-first;
          color: $brown-color-first;

          &:hover {
            background-color: $brown-color-first;
            color: $body-background-color;
          }
        }
      }
    }

    li {
      &.active {
        color: $brown-color-first;
      }
    }
  }
}