@use "../../../scss/variables/" as *;
@use "../../../scss/mixins/" as *;

.navbar :global {
  justify-content: space-between;
  padding: 2rem 2.5rem;
  height: $navbar-height;

  .logo {
    font-size: 1.5rem;
    color: $brown-color-first;
  }

  ul {
    gap: 20px;

    &.contact {
      a {
        &:has(:not(img)) {
          transition: all .2s;
  
          @include rounded-item(40px) {
            border: 1px solid $brown-color-first;
            color: $brown-color-first;
  
            &:hover {
              background-color: $brown-color-first;
              color: $body-background-color;
            }
          }
        }
      }
    }

    li {
      :where(&.active, li:hover) {
        color: $brown-color-first;
      }
    }
  }

  // --- Responsive ---
  @include break-max(900px) {
    ul {
      display: none;
    }
  }
}