@use "../../../scss/mixins/"as *;
@use "../../../scss/variables/"as *;

.menu_container {
  display: none;

  .menu {
    @include rounded-item(45px) {
			background-color: $brown-color-first;
			color: #fff;
			font-size: 1.7em;
    }
  }

	.menu_list {
		top: $navbar-height;
		position: absolute;
		left: 10px;
		max-width: 100%;
		z-index: 9;
		background-color: $color-red;
		border-radius: 1.5rem;
    width: 0;
    height: 0;
		overflow: hidden;

		li{
			//margin: 1rem 0;
			&:not(.not_pad) {
				padding: 1.5rem;
				font-size: 1.2rem;
			}
		}
	}

	.footer {
		ul {
			padding: 0 3rem;

			a{
				margin: .5rem 0;
			}
		}
	}

	// --- Responsive ---
  @include break-max(900px) {
    display: block;
  }
}