@use "../../scss/mixins/" as *;
@use "../../scss/variables/" as *;

.circle_wrapper {
  flex: 1;
  justify-content: center;

  .content {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 1px solid $color-red-second;
    animation: circle 20s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;

    .relative {
      @include rounded-item(100%) {
        position: relative;
      }

      .circle_item {
        @include rounded-item(50px) {
          position: absolute;
          left: -5%;
          background-color: $color-red;
          transform: rotate(calc(360deg / 8 * var(--i)));
          transform-origin: 250px;
        }

        .anti_circle {
          animation: anti-circle 20s linear infinite;
        }

        svg {
          font-size: 1.15em;
          transform: rotate(calc(-360deg / 8 * var(--i)));
        }
      }
    }
  }

  // --- Responsive ---
  @include break-max(1024px) {
    .content {
      width: 350px;
      height: 350px;

      .relative {
        .circle_item {
          transform-origin: 195px;
        }
      }
    }
  }

  @include break-max(500px) {
    .content {
      width: 250px;
      height: 250px;

      .relative {
        .circle_item {
          width: 35px;
          height: 35px;
          transform-origin: 140px;
          left: -6%;

          svg {
            font-size: 1.1em;
          }
        }
      }
    }
  }
}

@keyframes circle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes anti-circle {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}